:root {
  --color-primary: #272343;
  --color-secondary: #bae8e8;
  --color-tertiary: #e3f6f5;
  --color-black: #1b1a24;
  --color-dark-gray: #5c5b62;
  --color-gray: #9d9ca1;
  --color-light-gray: #cecdcf;
  --color-white: #fff;
}
